*{
    margin: 0;
    padding :0;
    font-family: Arial, Helvetica, sans-serif;
}
.bird{
height :100px;
width:130;
position: fixed;
top:40vh;
left  : 30vw;
z-index:100;    
    
}
.pipe_sprite{
    position: fixed ;
    top :40vh;
    left:100vw;
    height : 70vw;
    width : 6vw;
    background: radial-gradient(lightgreen,green) ;
    border :5px solid black
} 
